.section {
    background: #F9FAFB;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1F2937;
    text-decoration: none;
}

.formCard {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    max-width: 600px; /* You can adjust this value */
    padding: 1rem;
    width: 100%;
}


.formContainer {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label {
    display: block;
    margin-bottom: .5rem;
    font-size: .875rem;
    font-weight: 500;
    color: #1F2937;
}

.input {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    color: #1F2937;
    font-size: .875rem;
    border-radius: .5rem;
    width: 100%;
    padding: .625rem 2.5rem;
    box-sizing: border-box;
}

.submitButton {
    width: 100%;
    color: #ffffff;
    background: #3B82F6;
    font-weight: 500;
    border-radius: .5rem;
    font-size: .875rem;
    padding: .625rem 1.25rem;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background .2s;
}

.submitButton:hover {
    background: #2563EB;
}

.submitButton:focus {
    outline: none;
}
