@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 
  padding: 0;
  margin: auto;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media only screen and (max-width: 1000px) {

 .ch-list-card{
    margin-top: 10px;
  }


.ch-list-header{
    color: var(--grey-grey-700, #4E5566);
/* Heading/Heading 3 */
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;

}


.ch-list-subhead{
    color: var(--grey-grey-400, #A1A5B3);
/* Body/Body XXL/Body XXL 400 */
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

.ch-list-btn{
    border-radius: 8px;
border: 1px solid var(--grey-grey-700, #4E5566);
background: var(--grey-grey-100, #E9EAF0);
color:#4E5566;
width: 100%;
/* Buttons/Button Small */
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 285.714% */
letter-spacing: -0.056px;
text-transform: capitalize;
}
.ch-list-btn:nth-child(3){
    padding-left: 30px !important;
     padding-right: 30px !important;
}

.carousel .slide {
  background-color: transparent;
}

.grid-item {
  border: 1px solid #ccc;
 
}


.courseOverview{
  color: var(--grey-grey-800, #363B47);
/* Body/Body Large/Body Large 600 */
font-family: "Open Sans";

font-style: normal;
font-weight: 600;
line-height: 22px; /* 137.5% */
}

}

@media only screen and (min-width: 1001px) {
  

  .ch-list-card{
    margin-top: 40px;
  }

.ch-list-header{
    color: var(--grey-grey-700, #4E5566);
/* Heading/Heading 3 */
font-family: "Open Sans";
font-size: 32px;
font-style: normal;
font-weight: 600;

}


.ch-list-subhead{
    color: var(--grey-grey-400, #A1A5B3);
/* Body/Body XXL/Body XXL 400 */
font-family: "Open Sans";
font-size: 20px;
margin-top: 10px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

.ch-list-btn{
    border-radius: 8px;
border: 1px solid var(--grey-grey-700, #4E5566);
background: var(--grey-grey-100, #E9EAF0);
color:#4E5566;
height: 50px;
width: 50px;
/* Buttons/Button Small */
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 285.714% */
letter-spacing: -0.056px;
text-transform: capitalize;
}
.ch-list-btn:nth-child(3){
   width: fit-content;
   padding-left: 30px;
   padding-right: 30px;
}

.carousel .slide {
  background-color: transparent;
}

.grid-item {
  border: 1px solid #ccc;
 
}


.courseOverview{
  color: var(--grey-grey-800, #363B47);
/* Body/Body Large/Body Large 600 */
font-family: "Open Sans";

font-style: normal;
font-weight: 600;
line-height: 22px; /* 137.5% */
}

}