.subject-dropbox {
  align-items: center;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 12px 24px #14132a0a, 0px -2px 4px #14132a05, 0px 3px 14px #4939ff08;
  display: flex;
  gap: 482px;
  overflow: hidden;
  padding: 24px 95px;
  position: relative;
  width: max-content;

  /* Responsive styles for screens up to 768px */
  @media screen and (max-width: 768px) {
    /* Adjust the styles for smaller screens */
    /* Example: */
    gap: 20px;
    padding: 16px;
  }

  /* Responsive styles for screens up to 480px */
  @media screen and (max-width: 480px) {
    /* Adjust the styles for even smaller screens */
    /* Example: */
    gap: 10px;
    padding: 8px;
    /* ... */
  }
}

.subject-dropbox .frame {
  align-items: center;
  display: flex;
  gap: 19px;
  position: relative;
  width: fit-content;
}

.subject-dropbox .group {
  background-color: #107be5;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 25.33px;
  box-shadow: 0px 5px 16px #080f340f;
  height: 50.66px;
  min-width: 50.66px;
  position: relative;
  transform: rotate(-90deg);
}

.subject-dropbox .vector {
  height: 10px;
  left: 16px;
  position: absolute;
  top: 19px;
  transform: rotate(90deg);
  width: 19px;
}

.subject-dropbox .subject {
  color: #212224;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 35px;
  position: relative;
  white-space: nowrap;
  width: 322.01px;
}

.subject-dropbox .element {
  color: transparent;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.subject-dropbox .text-wrapper {
  color: #27b446;
}

.subject-dropbox .span {
  color: #107be5;
}
