.title {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.consider-the-wrapper {
  border: 0px none;
  width: 100%;
}

.consider-the {
  color: #212224;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;

  /* Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {
    font-size: 16px;
    line-height: 24px;
  }

  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
  }

  /* Large devices (desktops, 992px and up) */
  @media (max-width: 400px) {
    font-size: 12px;
    line-height: 18px;
  }

}
