@media only screen and (max-width: 1000px) {

.featuringTitle{
    color: #696969;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
margin-bottom: 30px;
line-height: normal;
}
}

@media only screen and (min-width: 1001px) {

.featuringTitle{
    color: #696969;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


}