  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


@media only screen and (max-width: 1000px) {
.course-Info-div{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.course-detail-btn{
color: var(--pure-white, #FFF);
text-align: center;
font-family: Poppins;
font-size: 7.168px;
font-style: normal;
font-weight: 600;


}
.mainCourseDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
   
  align-items: center;
}
.course-Img{
    width: 100%;
 
}

.course-detail-p1{


margin-top:10px ;
color: var(--grey-grey-800, #363B47);
font-family: Poppins;
font-size: 8.064px;
font-style: normal;
width: 100%;
font-weight: 600;
text-align: left;
line-height: 150%; /* 12.096px */
}
.course-detail-q{
color: var(--grey-grey-800, #363B47);
font-family: Poppins;
font-size: 7.168px;
font-style: normal;
font-weight: 400;
line-height: 10.752px; /* 150% */
}
.course-detail-ans{

width: 40%;
color: var(--grey-grey-800, #363B47);
font-family: Poppins;
font-size: 7.168px;
font-style: normal;
font-weight: 600;
line-height: 9.856px; /* 137.5% */
}

}


@media only screen and (min-width: 1001px) {
.course-Info-div{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.course-detail-btn{
    color: var(--pure-white, #FFF);
text-align: center;
/* Body/Body Large/Body Large 600 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 137.5% */
}
.mainCourseDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
  align-items: center;
}
.course-Img{
    width: 100%;
 
}

.course-detail-p1{
color: var(--grey-grey-800, #363B47);
/* Body/Body XL/Body XL 600 */
font-family: Poppins;
font-size: 18px;
text-align: left;
margin-top:10px ;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 27px */
}
.course-detail-q{
color: var(--grey-grey-800, #363B47);
/* Body/Body Large/Body Large 400 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.course-detail-ans{
color: var(--grey-grey-800, #363B47);
/* Body/Body Large/Body Large 600 */
font-family: Poppins;
width: 40%;

font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 137.5% */
}

}