@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media only screen and (max-width: 1000px) {

    .scholarship-Main-btn{
     display: flex;
     flex-direction: column;
              margin-top: 30px;
              z-index:999;
              gap: 30,
}

.scholarship-p{
    color: var(--grey-grey-700, #4E5566);

/* Heading/Heading 3 */
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;

line-height: 150%; /* 48px */
letter-spacing: -0.32px;
}
.scholarship-secP{
   color: var(--primary-blue-800, #2075B3);
/* Body/Body XL/Body XL 600 */
font-family: "Open Sans";
font-size: 18px;
font-style: normal;

font-weight: 600;
line-height: 150%; /* 27px */


}

.scholarship-3rdP{
    color: var(--grey-grey-700, #4E5566);

/* Body/Body XXL/Body XXL 500 */
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 130% */
}



.offer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   z-index: 999;
border-radius: 4px;
background: var(--grey-grey-50, #F5F7FA);

    padding: 5px 43px 5px 21px;

}
.offer-box > p{
    margin-left: 20px;
    color: var(--grey-grey-700, #4E5566);
/* Body/Body XXL/Body XXL 600 */
 
    width: 100%;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 130% */
}

.scholarship-btn-applyNow:hover{
    background-color: #c47827;
}

.scholarship-btn-applyNow{
    border-radius: 4px;

width: 100%;

height: 45px;

color: var(--pure-white, #FFF);
/* Body/Body Large/Body Large 500 */
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 137.5% */
text-transform: capitalize;
background: var(--secondary-orange-700, #DA862C);
box-shadow: 4px 4px 0px 0px rgba(197, 125, 34, 0.20);
}

.scholarship-btn-knowMore{
    border-radius: 8px;
    height: 45px;
    color: var(--pure-white, #FFF);
/* Buttons/Button Large */
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 311.111% */
letter-spacing: -0.18px;
text-transform: capitalize;
border: 1px solid var(--primary-primary-blue-700, #2385C7);
background: var(--primary-primary-blue-700, #2385C7);
}

}
@media only screen and (min-width: 1001px)  {

    .scholarship-Main-btn{
     display: flex;
  
              margin-top: 30px;
              z-index:999;
              gap: 30,
}


.scholarship-p{
    color: var(--grey-grey-700, #4E5566);

/* Heading/Heading 3 */
font-family: "Open Sans";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 48px */
letter-spacing: -0.32px;
}
.scholarship-secP{
    color: var(--primary-blue-800, #2075B3);
/* Display/Display 3 */
font-family: "Open Sans";
font-size: 64px;


font-style: normal;
font-weight: 600;
line-height: 150%; /* 96px */
letter-spacing: -1.28px;


}

.scholarship-3rdP{
    color: var(--grey-grey-700, #4E5566);

/* Body/Body XXL/Body XXL 500 */
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 130% */
}

.offer-box{
    display: flex;
    align-items: center;
    width: 45%;
   
    border-radius: 12px;
    padding: 22px 80px 22px 40px;
background: var(--grey-grey-50, #F5F7FA);
}
.offer-box > p{
    margin-left: 30px;
    color: var(--grey-grey-700, #4E5566);

/* Body/Body XXL/Body XXL 600 */
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 130% */
}

.scholarship-btn-applyNow:hover{
    background-color: #c47827;
}

.scholarship-btn-applyNow{
    border-radius: 8px;
    color: var(--pure-white, #FFF);
/* Buttons/Button Large */
font-family: "Open Sans";
font-size: 18px;
width: 45%;
font-style: normal;
height: 64px;
font-weight: 600;
line-height: 56px; /* 311.111% */
letter-spacing: -0.18px;
text-transform: capitalize;
background: var(--secondary-orange-700, #DA862C);
box-shadow: 4px 4px 0px 0px rgba(197, 125, 34, 0.20);
}

.scholarship-btn-knowMore{
    border-radius: 8px;
    height: 64px;
    color: var(--pure-white, #FFF);
/* Buttons/Button Large */
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 311.111% */
letter-spacing: -0.18px;
text-transform: capitalize;
border: 1px solid var(--primary-primary-blue-700, #2385C7);
background: var(--primary-primary-blue-700, #2385C7);
}

}