
.NavBar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ef9a9a;
  position: relative;
  box-shadow: 0px 10px 10px #e57373;
}

.NavItems {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 5%;
}

.homeContainer {
  margin: 5%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.homeTitle {
  margin-top: 2%;
  margin-bottom: -10px;
  font-size: 48px;
}

.homePic {
  height: auto;
  max-width: 50%;
  margin-bottom: -1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
}

.homePicDesc {
  font-size: 12px;
  font-style: italic;
}

.galleryTitle {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 45px;
}

.galleryItems {
  width: 50%;
  height: 50%;
}

.menuVisible {
  visibility: visible;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 5%;
}

.burgerVisible {
  visibility: hidden;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .burgerVisible {
    visibility: visible;
    border: 3px solid red;
    z-index: 99;
  }
  .menuVisible {
    visibility: hidden;
  }

  .FooterItems {
    text-align: center;
    font-size: 12px;
    margin-top: -10vh;
    padding: 0px 30px 0px 30px;
    color: #d5bdc2;
  }

  .FooterIcons {
    text-align: center;
    font-size: 12px;
    margin-top: 3%;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    color: #d5bdc2;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 32px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
